<div class="container"><!--  -->
<h3 class="m-5 text-center">student Added: {{added_student}}</h3>

<div class=" text-center container">
<h1>view Student</h1>

<div>
    {{#each studentsList}}
    {{id}}
    {{name}}
    {{title}}
    {{/each}}
</div>
</div>

</div>