<div class="container"><!--  -->
<h3 class="m-5 text-center">student Added: {{added_student}}</h3>

<div class="p-4 text-center">
    <h1>View Student</h1>
    <h2>{{id}}</h2>
    <h1 class="text-center">{{name}}</h1>

</div>

</div>